# Cached files
__pycache__/
*.py[co]
*.class

# Build
dist/
build/
egg/
*.egg-info/
# Sometimes they are there...
*.egg

.project
.pydevproject

#Minimal Jython install for uploading and testing
jython.bat
jython.jar

# Cache
.cache/

# Coverage
htmlcov/
.coverage
